
<html>
<body>
  <header class="header-home">
    <div class="container-1">
      <img src="#" alt="LOGO"/>
      <div class="ul1">
      <ul class="ul-nav1">
        <li class=" nav1 link-1">Loja</li>
        <li class=" nav1 link-2">Suporte</li>
        <li class=" nav1 link-3">Sobre</li>
        <li class=" nav1 link-4">Login/Cadastro</li>
      </ul>
    </div>
      <form action="/pesquisa" method="GET">
        <input class="campodepesquisa" type="text" name="pesquisa" placeholder="Pesquisar"/>
        <button type="button"> <img src="../public/images/pesquisar.svg" alt="" /></button>
      </form>
      
    </div>
    <div class="container-2">
      <ul>
        <li class=" nav2 link-1">Giftcard</li>
        <li class=" nav2 link-2">Jogos</li>
        <li class=" nav2 link-3">Console</li>
        <li class=" nav2 link-4">Acessórios</li>
      </ul>
      </div>
  </header>
  <h1>Bem Vindo a DomGames header</h1>
</body>

</html>