* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: solid 1px red; */
    text-decoration: none;
    list-style-type: none;
}

a:link {
    color: white;
}

a:visited {
    color: red;
}

a:active {
    color: yellow;
}

:root {
    --header-color: rgb(15, 15, 15);

}

body {
    background-image: url("../images/comuns/godfatherback.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: var(--header-color);
    color: white;

}

input::placeholder {
    font-size: 14px;
    color: #D3D0D0;
    opacity: 1;
    padding-left: 10px;
}

a:hover {
    text-decoration: underline;
}

header {
    height: 15vh;
    width: 100%;


    flex-wrap: wrap;
    margin-bottom: 50px;

}

header img {
    padding-right: 50px;
}

header input {
    padding: 10px;
    border-radius: 20px;
    height: 30px;
}

header form input {
    background-image: url("../images/cadastroLogin/lupa.png");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 20px;
    border-radius: 15px;
    height: 35px;
    font-size: 16px;
    text-align: start;
    padding-left: 10px;
}

header nav {
    display: block;
    align-items: center;
    justify-content: space-between;
}

header form {
    text-align: center;
}

.ul-1 li {


    display: inline-block;
}

.ul-1 {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

header div,
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}


.nav-header-bot {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    list-style-type: none;
}

.ul-2 {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 115px;
}


/* //main */
main {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;

    width: 70vw;
    margin: 0 auto;
}

/* grid container */
.field-container {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "esquerdo-container direito-container"
        "esquerdo-container direito-container"
        "meet-options-container meet-options-container ";
    gap: 3px 10px;
    height: 100%;
    padding: 5px;
}

/*  */
fieldset {
    border: 1px solid rgba(255, 0, 0, 0.446);
    height: 100%;
    width: 100%;
    padding: 20px;
    color: brown;
}


.esquerdo-container {
    display: flex;
    grid-area: esquerdo-container;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.direito-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: direito-container;
    width: 100%;
    height: 100%;
}

.field-left {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.field-left div input {
    padding: 2px 0px 2px 5px;
    border-radius: 3px;
    border: solid 1px black;
    height: 20px;
    margin: 10px 0px;
}
.nome {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0px 5px;
}

.gender {    
    font-size: 15px;
    width: 100%;
}

.data {
    display: flex;
}

.data span {
    font-size: 15px;
}

.data label {
    font-size: 15px;
}

.email {

    display: flex;
    width: 100%;
    justify-content: space-around;
}

.email input {
    width: 220px;
}

.tels {

    display: flex;
    width: 100%;
    justify-content: space-around;
}

.email input {}






.field-right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.meet-options-container {
    display: flex;
    grid-area: meet-options-container;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0px;
}

.meet-options-container button {
    background-color: rgba(165, 42, 42, 0.252);
    border: solid 1px rgba(255, 255, 255, 0.234);
    border-radius: 5px;
    padding: 5px;
    margin: 20px 5px 0px 5px;
    font-size: 15px;
    width: 100px;
    color: white;
    cursor: pointer;
}

.meet-options-container a:hover {

    background-color: rgb(255, 0, 0);
    color: white;
}

.meet-options-container a {
    text-decoration: underline;
    color: red;
}

#a-invi:hover+.invi {
    display: block;

}

.invi {
    display: none;
    text-align: justify;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.12);
    position: absolute;
    color: white;
    border: 3px solid red;
}