body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background: rgb(#176E86);
    background: radial-gradient(circle, rgba(112, 169, 198, 1) 0%, rgba(31, 38, 42, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
}
img {
    width: 50%;
    height: 100%;
}