*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
    }


body{
    background-color: black; 
    
    
}

.logo{
    width: 42px;
    height: 42px;
    margin: 10px;
}

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    box-shadow: 0 0 1rem rgb(180, 164, 164);
    
}

header ul{
    display: flex;
    margin: 23px;
}

header li{
    color: white;
    list-style-type: none;
    cursor: pointer;
    padding-left: 15rem;
}

form, input{
    border-radius: 20px;
    margin: 7px;
    margin-right: 50px;
    height: 30px;
    
    
}


.sub-header ul{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    color: white;
    list-style-type: none;
    cursor: pointer;
    margin: 2vh 10vw;
}

.coluna-historico{
    width: 315px;
    height:1380px;
    border-width: 1px;
    border-style: solid;
    border:none;
    margin-top: 40px;  
    box-sizing: border-box;
    margin-left: 10px; 
    background: rgba(97, 95, 95, 0.42);
    float: left;   
}

li{
    list-style-type: none;
    color: white;
    justify-content: center;
    position: relative;
    
    
    
}

.cadastro, .compras, .vendas, .trocas, .gifts, .atendimento, .alertas, .garantia {
    width: 304px;
    height: 51px;
    border-width: 1px;
    border-style: solid;
    border:none;
    border-radius: 7px;
    margin-left: 4px;  
    box-sizing: border-box;
    margin-bottom: 15px;
    color: #FF0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px; 
    background: rgba(0, 0, 0, 0.65);
    padding-left: 70px;
    padding-top: 6px;
    
}

.cadastro img, .compras img, .vendas img , .trocas img , .gifts img , .atendimento img, .alertas img, .garantia img{
    position: relative;
    vertical-align: middle; 
    
    
}
    

.figura-login{
    padding-top: 30px;
    padding-left: 28px; 
}
.titulo-figura{
    color: white;
    text-align:justify;
    margin-bottom: 30px;
    margin-left: 12px;
    color: #FF0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px; 
}

.compra{
   color: #FF0000;
   margin-left: 380px;
   margin-top: 100px; 
   box-sizing: border-box;
}

.itens-compras{
    width: 918px;
    height: 225px;
    background: #C4C4C4;
    margin-top: 50px;
    border-radius: 10px;
    padding-top: 10px;
    display:flex;   
}

.imagem-produto-1{
    width: 198px;
    height: 200px;
    border-width: 1px;
    margin-left: 12px;
    border-radius: 10px;
    box-sizing: border-box;
     
}
.descricao-1{
    margin-left: 70px; 
    color: #00AA25; 
    font-size: 24px; 
}

.borda{
width: 625px;
height: 0px;
border: 1px solid #706E6E;
margin-top: 50px;
margin-left: -240px;
}

.detalhes{
width: 254px;
height: 52px;
background: #FF0000;
border-radius: 7px;
margin-bottom: 10px;
margin-left: 350px;
position: relative;
margin-top: -66px;
text-align: center;
padding-top: 13px;
}

.nova-compra{
    width: 254px;
    height: 52px;
    background:rgba(255, 0, 0, 0.38);
    border-radius: 7px;
    margin-left: 350px;
    text-align: center;
    padding-top: 13px;
}

.titulo, .quantidade, .status-venda, .detalhes, .nova-compra {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
   
}
.titulo{
    font-size: 24px;  
}

.status-venda, .quantidade, .titulo {
    margin-left: 25px;
}

.detalhes, .nova-compra{
    font-size: 24px; 
    
}

.status-venda, .quantidade{
    font-size: 18PX;
}



.imagem-produto-1 img{
    border-radius: 10px;
}

input[type="text1"] {
    width: 918px;
    height: 35px;
    border-style: none;
    margin-left: -8px;
}

input::placeholder{
    color: black;
    font-size: 17px;
    padding-left: 10px; 
    
}


.carregar{
    width: 254px;
    height: 84px;
    border-width: 1px;
    border-style: solid;
    border:none;
    border-radius: 7px;
    background: #FF0000;
    margin-top: 50px;
    margin-left: 330px;
    margin-bottom: 50px;
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
}

.caixa1{
    width: 1336px;
    height: 150px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background: #000;
    box-sizing: border-box;
}

footer{
    background-color: antiquewhite;
    margin-top: 10px;
    height: 70px;
}



.titulo-footer{
    color: white;
    display: inline-flex;
    margin-left: 20px; 
    margin-bottom: 40px;
    
}

.tag1, .tag2, .tag3, .tag4 {
    list-style-type: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;  
    position: relative;
    margin-left: 150px;
  }

  

.info{

    border-bottom: white 1px solid;
    margin-top: 30px;
    margin-bottom: 10px;
   
}

.rodape{

    color: white;
    display: flex;
    margin-left: 100px;
    padding-bottom: 15px;
    
}
.cor1{

    color: #CC0000;
    margin-left: 450px;
    
}



