* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: solid 1px red; */
    text-decoration: none;
    list-style-type: none;

}

body {

    background-color: rgb(192, 175, 238);

}

input::placeholder {
    font-size: 14px;
    color: #D3D0D0;
    opacity: 1;
    padding-left: 8px;
}

a:hover {
    text-decoration: underline;
}

