<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='./assets/stylesheets/styleLogin.css'>
    <!-- //favicon -->
    <link rel="shortcut icon" href="./assets/image//favicon-32x32.png" type="image/x-icon" />

    <link rel="icon" type="image/png" sizes="32x32" href="./assets/image//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/image//favicon-16x16.png">


    <title>LOGIN</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo-domGames">
                <a href="http://localhost:3000/"><img src="../assets/image/DOMGAMES.png" alt="logo"></a>
            </div>

            <form action="" method="GET" class="pesquisa-produtos-login">

                <div class="form-header">
                    <input type="text" name="pesquisa" id="name" placeholder="Busca de produtos e marcas">
                </div>
            </form>
            <div class="cadastro-login link">
                <a href="#"><img src="../assets/image/pessoinha.png" alt="icone representando uma pessoa"></a>
                <a href="#"> Entrar | Cadastrar </a>

            </div>
        </div>
    </header>
    <main>
        <div class="cadastro-container">
            <div class="left-container">
                <h3>Já sou cadastrado</h3>
                <form action="" method="POST">
                    <div class="form-group email">

                        <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
                    </div>
                    <div class="form-group senha">

                        <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                    </div>
                    <div class="form-group submit">
                        <button type="submit" class="btn-cadastro">Entrar</button>
                    </div>

                </form>
                <div class="img-link-container">
                    <img class="link-senha-cadeado " src="../assets/image/cadeado.png" alt="imagem de cadeado">
                    <a href="#">Esqueceu a senha?</a>
                </div>
            </div>
            <div class="right-container">
                <h3>Não sou cadastrado</h3>
                <form action="" method="POST">
                    <div class="form-group2 email">

                        <input type="email" name="email-cadastrar" id="email-cadastrar"
                            placeholder="Digite o e-mail que deseja cadastrar" required>
                    </div>

                    <div class="form-group submit">
                        <button type="submit" class="btn-cadastro">Cadastre-se</button>
                    </div>

                </form>
            </div>

        </div>
        <div class="faixa-vermelha">

            <form action="submit" method="POST" class="cadastrar-news">
                <p>Inscreva - se e receba<br>
                    Nossas ofertas exclusivas!</p>
                <input type="text" name="name" id="nome-cadastrar" placeholder="Digite seu nome" required
                    class="input-nome-news">
                <input type="email" name="email-cadastrar" id="email-cadastrar-news"
                    placeholder="Digite seu melhor e-mail" required class="input-email-news">
                <button type="submit" class="news-cadastro">Cadastre</button>

            </form>
        </div>
        <footer>
            <nav class="nav-footer-login">
                <div>
                    <h4 class="destaque">Em destaque</h4>
                    <ul>
                        <li><a href="#">Playstation</a></li>
                        <li><a href="#">Xbox</a></li>
                        <li><a href="#">Nintendo</a></li>
                        <li><a href="#">PC</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class="institucional">Institucional</h4>
                    <ul>
                        <li><a href="#">Trabalhe conosco</a></li>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">BLOG</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Redes Sociais</h4>
                    <ul class="redessociais">
                        <li><a href="https://www.facebook.com/" target="_blank"><img
                                    src="../assets/image/face icone.png" alt="icone e link do Facebook"></a></li>
                        <li><a href="https://www.youtube.com.br" target="_blank"><img
                                    src="../assets/image/youtube icone.png" alt="icone e link do Youtube"></a></li>
                        <li><a href="https://www.Instagram.com.br" target="_blank"><img
                                    src="../assets/image/insta icone.png" alt="icone e link do Istagram"></a></li>
                        <li><a href="https://www.Twitter.com.br" target="_blank"><img
                                    src="../assets/image/twiter icone.png" alt="icone e link do Twiter"></a></li>

                </div>
                <div>
                    <h4>Formas de pagamentos</h4>
                    <ul class="pagamentos">
                        <li><a href="#"><img src="../assets/image/master card icone.png"
                                    alt="icone e link master card"></a></li>
                        <li><a href="#"><img src="../assets/image/visa icone.png" alt="icone e link visa"></a></li>
                        <li><a href="#"><img src="../assets/image/elo icone.png" alt="icone e link elo"></a></li>
                        <li><a href="#"><img src="../assets/image/american express icone.png"
                                    alt="icone e link american express"></a></li>
                        <li><a href="#"><img src="../assets/image/hipercard icone.png" alt="icone e link hipercard"></a>
                        </li>
                        <li><a href="#"><img src="../assets/image/sei la icone.png" alt="icone e link sei la"></a></li>
                    </ul>
                    <h4 class="comprasegura">Compra segura</h4>
                    <ul class="compra-segura-footer">
                        <li><a href="#"><img src="../assets/image/google safe browsing.png"
                                    alt="icone e link google safe browsing"></a></li>
                        <li><a href="#"><img src="../assets/image/lets encrypt.png" alt="icone e link Lets encrypt"></a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Contatos</h4>
                    <ul class="contatos">
                        <li>
                            <a href="#"><img src="../assets/image/tel icone.png" alt="icone e link Lets encrypt"></a>
                            <span><a href="#">(11)99999-999</a></span>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/image/whats icone.png"
                                    alt="icone e link Lets encrypt"></a><span> <a href="#"> (11)99999-999</a></span>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/image/cartinha icone.png"
                                    alt="icone e link Lets encrypt"></a><span><a href="#">
                                    contato@domgames.com.br</a></span>
                        </li>

                    </ul>
                </div>
            </nav>

            
            <div class="copyright-container">
                <div>
                    
                    <p>Domgames LTDA - CNPJ:00.000.000/0000-00</p>
                    <p>As fotos aqui veiculadas e marca sao propriedade do: www.domgames.com.br
                        é vedada sua reproduçao total e parcil sem a expressa autorizaçao da administaçao</p>
                </div>
                <div class="logo-domGames-footer">
                    <a href="http://localhost:3000/"><img src="../assets/image/DOMGAMES.png" alt="logo"></a>
                </div>
            </div>
        </footer>
    </main>



</body>

</html>