<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='./assets/stylesheets/styleLogin.css'>

    <title>LOGIN</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo-domGames">
                <a href="http://localhost:3000/"><img src="../assets/image/DOMGAMES.png" alt="logo"></a>
            </div>

            <form action="" method="GET" class="pesquisa-produtos-login">

                <div class="form-header">
                    <input type="text" name="pesquisa" id="name" placeholder="Busca de produtos e marcas">
                </div>
            </form>
            <div class="cadastro-login link">
                <a href="#"><img src="../assets/image/pessoinha.png" alt="icone representando uma pessoa"></a>
                <a href="#"> Entrar | Cadastrar </a>

            </div>
        </div>
    </header>

    
    
</body>

</html>