<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DomGames</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../public/assets/stylesheets/home-style.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <div class="logo"><img src="../public/assets/image/LOGO.png" alt="logo"></div>
        <ul>
            <li>LOJA</li>
            <li>SUPORTE</li>
            <li>LOGIN/CADASTRO</li>
        </ul>
            <form action="#" method="post">
                <input type="text" name="search" id="search" placeholder="    BUSCAR" required>
            </form>
    </header>

    <div class="sub-header">
        <ul>
            <li>GIFTS CARDS</li>
            <li>JOGOS</li>
            <li>CONSOLES</li>
            <li>ACESSÓRIOS</li>
        </ul>
    </div>

    <main>
    <div class="promo-do-mes">
        <div class="jogo-promocao">
            <img src="../public/assets/image/image 14.png" alt="promoção">
        </div>
        <div class="promo-mes">
            <h2>PROMOÇÃO</h2>
            <span>DO MÊS</span>
            <button>SAIBA MAIS</button>
        </div>
    </div>

    <div class="numero-site">
        <h1>1000 jogos vendidos</h1>
    </div>

    <h3> A COMUNIDADE RECOMENDA </h3>

    <div class="carrosel-jogos">
        <div class="img-carrosel">img-carresel</div>
        <div class="info-carrosel">info-carrosel</div>
    </div>

    </main>
</body>
</html>
