<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DomGames</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel="shortcut icon" href="./assets/image//favicon-32x32.png" type="image/x-icon" />

    <link rel="icon" type="image/png" sizes="32x32" href="./assets/image//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/image//favicon-16x16.png">
    
    <link rel='stylesheet' type='text/css' media='screen' href='assets/stylesheets/home-style.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <div class="logo"><img src="assets/image/LOGO.png" alt="logo"></div>
        <ul>
            <li>LOJA</li>
            <li>SUPORTE</li>
            <li>LOGIN/CADASTRO</li>
        </ul>
            <form action="#" method="post">
                <input type="text" name="search" id="search" placeholder="    BUSCAR" required>
            </form>
    </header>

    <div class="sub-header">
        <ul>
            <li>GIFTS CARDS</li>
            <li>JOGOS</li>
            <li>CONSOLES</li>
            <li>ACESSÓRIOS</li>
        </ul>
    </div>

    <main>
    <div class="promo-do-mes">
        <div class="jogo-promocao">
            <img src="assets/image/eldenring.png" alt="promoção">
        </div>
        <div class="promo-mes">
            <h2>PROMOÇÃO</h2>
            <span>DO MÊS</span>
            <button>SAIBA MAIS</button>
        </div>
    </div>

    <div class="numero-site">
        <div class="giftcards">
            <h3>+ DE 500<br>GIFTS CARDS VENDIDOS</h3>
        </div>
        <div class="jogosvendidos">
            <h3>+ DE 1.000.00 <br>JOGOS VENDIDOS</h3>
        </div>
        <div class="acessorios">
            <h3>+ DE 300<br>ACESSÓRIOS PERSONALIZADOS</h3>
        </div>
    </div>

    <h4> A COMUNIDADE RECOMENDA </h4><br>

    <div class="carrosel-jogos">
        <div class="imagem-carrosel">
            <img src="assets/image/reddead2.png" alt="imagemJogo">
        </div>
        <div class="info-carrosel">
            <h2>Red Dead Redemption 2</h2><br>
            <p>“Em 1899, Red Dead Redemption 2 segue a história de Arthur Morgan, um membro da guangue de 
            bandidos de Dutch Van der Linde. Depois de tudo dar errado durante um roubo em uma 
            cidade do oeste chamada
            Blackwater, Arthur Morgan e a gangue Van der Linde são forçados a fugir.”</p><br>
             <button>SAIBA MAIS</button>
        </div>
    </div>

    <div class="atualizacoes-e-promocoes">
        <p>ATUALIZAÇÕES E PROMOÇÕES</p>
        <div class="jogo1">
            <img src="assets/image/thelastofus2.png">
            <p>THE LAST OF US 2</p>
            <p>RPG, MUNDO ABERTO, SOBREVIVENCIA</p>
            <p>R$100,00</p>
            <button>comprar</button>
        </div>
        <div class="jogo2">
            <img src="assets/image/nba.png">
            <p>NBA 2K22</p>
            <p>ESPORTE</p>
            <p>R$100,00</p>
            <button>comprar</button>
        </div>
        <div class="jogo3">
            <img src="assets/image/farcry.png">
            <p>FAR CRY 4 </p>
            <p>RPG, MUNDO ABERTO, SOBREVIVENCIA</p>
            <p>R$100,00</p>
            <button>comprar</button>
        </div>
        <div class="jogo4">
            <img src="assets/image/residentevil5.png">
            <p>RESIDENT EVIL 5</p>
            <p>SOBREVIVENCIA, TERROR</p>
            <p>R$100,00</p>
            <button>comprar</button>
        </div>
        <div class="jogo5">
            <img src="assets/image/wwe.png">
            <p>WWE</p>
            <p>LUTA</p>
            <p>R$100,00</p>
            <button>comprar</button>
        </div>
        <div class="jogo6">
            <img src="assets/image/bully.png">
            <p>BULLY</p>
            <p>RPG, MUNDO ABERTO, SOBREVIVENCIA, AVENTURA</p>
            <p>R$100,00</p>
            <button>comprar</button>
        </div>
    </div>
    <footer class="caixa1">
    
        <div class="container1">
            <div class="logo1"> 
                 <h1> <img src="assets/image/img-domgames.png" alt=" "> </h1>
            </div>

            <div class="news">
                <p> Receba news e <br> promoçoes</p> 

                <div class="email">    
                    <form action="email">
                        <label for="email"> </label>
                        <input type="email" id="email" name="email" placeholder="e-mail" > 
                        <button class="botao"> enviar </button>
                    </form>
                    
                </div>     
                
            </div>
        </div>

        <div class="info">
            <ul class="titulo"> 
                <li> CONTATOS DA LOJA </li>
                <li> ENDEREÇO </li>
                <li> TRABALHE CONOSCO </li>
                <li> CNPJ-19.702/9999-98 </li>
            </ul>

        </div>

        <div class="rodape">
            <p class="cor1">DOM</p>
            <P>GAMES - Todos os direitos reservados. </P>
        </div>
        
</footer>
    </main>
</body>
</html>