<html lang="en">
    <!DOCTYPE html>
    <html lang="pT-BR">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='stylesheets/cadastroLogin.css'>
        <!-- //favicon -->
        <link rel="shortcut icon" href="images/comuns/android-chrome-192x192.png" type="image/x-icon" />
    
<body>
    <h1>ERROR 404 - PÁGINA NÃO ENCONTRADA</h1>
</body>
</html>