<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='../stylesheets/cadastroUser.css'>
        <!-- //favicon -->
        <link rel="shortcut icon" href="../images/comuns/android-chrome-192x192.png" type="image/x-icon" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script src="../javascripts/cadastroUserScripts.js"></script>
        <title>Cadastro de Usuário</title>
    </head>

<body>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-header-top">

                    <ul class="ul-1">
                        <a href="http://localhost:3000/" target="" class=" li1 logo-img"><img
                                src="../images/comuns/LOGO.png" alt="Logo da da DomGames"></a>
                        <li><a href="#" target="_blank" class="li1 a1">Loja</a></li>
                        <li><a href="#" target="_blank" class="li1 a2">Suporte</a></li>
                        <li><a href="#" target="_blank" class="li1 a3">Sobre</a></li>
                        <li><a href="http://localhost:3000/usuarios/login" target="" class="li1 a4">Login</a></li>
                        <form action="#" method="GET" class="form-ul-1">
                            <input type="text" name="search" id="search" placeholder="Pesquisa"
                                class=" li1 pesquisa-input">
                        </form>
                    </ul>

            </nav>
        </header>
        <main>



            <form method="POST" action="/usuarios/cadastro" id="formulario" enctype="">
                <div class="field-container">

                    <div class="esquerdo-container">
                        <fieldset class="field-left">

                            <legend>Dados Pessoais</legend>

                            <div class="nome">
                                <input type="text" name="name" minlength="3" maxlength="20" id="nome"
                                    placeholder="Nome*" required>
                                <input type="text" name="surname" id="sobrenome" minlength="3" maxlength="45"
                                    placeholder="Sobrenome*" required>

                                <label for="gender" class="gender-label">
                                    <select name="gender" id="gender">
                                        <option value="1" selected>Masculino</option>
                                        <option value="2">Feminino</option>
                                        <option value="3">Não declarar</option>
                                    </select>
                                </label>

                            </div>
                            
              

                            <div id="nascimento">
                                <input type="text" name="cpf" id="cpf" value="" placeholder="CPF* - Apenas números"
                                    minlength="14" maxlength="14" class="input1  cpf" required>

                            </div>
                            <div class="tels">

                                <input type="tel" name="cel_whats" id="telefone" minlength="14" maxlength="15"
                                    placeholder="Celular/Whatsapp*" required>
                                <input type="tel" name="tel" id="celular" minlength="14" maxlength="15"
                                    placeholder="Celular">
                            </div>
                            <div class="emails">

                                <input type="email" name="email" id="email"
                                    placeholder="E-MAIL* - ex.:joao@email.com"
                                    pattern="^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6})*$" class="input1  "
                                    required>
                                <input type="email" name="username1" id="email2"
                                    pattern="^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6})*$"
                                    placeholder="repita seu E-Mail*" required class="input1  ">
                            </div>
                            <div class="senha">

                                <input type="password" autocomplete="on" minlength="8"
                                    pattern="(?=(.*[0-9]))((?=.*[A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z]))^.{8,}$" name="password"
                                    id="senha" placeholder="Senha*" class="input1 " required>
                                <input type="password" autocomplete="on" minlength="8"
                                    pattern="(?=(.*[0-9]))((?=.*[A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z]))^.{8,}$"
                                    name="senha2" id="senha2" placeholder="Repita sua senha*" class="input1" required>
                            </div>

                        </fieldset>
                    </div>


                    
                    
                    
                    

                    <!-- lado direito -->

                    <div class="direito-container">
                        <div class="endereco">
                            <fieldset class="field-endereco">

                                <legend>Endereço de cadastro</legend>


                                <input type="text" name="cep_res" id="cep" maxlength="09" placeholder="Busca pelo CEP*"
                                    required>
                                <input type="text" name="endereco_res" id="endereco" placeholder="Logradouro" maxlength="45"
                                    required readonly>

                                <input type="text" name="numero_res" id="numero" maxlength="06" placeholder="Número*"
                                    required>
                                <input type="text" name="complemento_res" id="complemento" maxlength="45"
                                    placeholder="Complemento">

                                <input type="text" name="bairro_res" id="bairro" maxlength="45" placeholder="Bairro*"
                                    readonly required>

                                <input type="text" name="referencia_res" id="referencia" maxlength="45"
                                    placeholder="Referência">

                                <input type="text" name="cidade_res" id="cidade" maxlength="45" placeholder="Cidade*" required
                                    readonly>

                                <select name="estado_res" id="uf" required readonly>
                                    <option id="estado" name="estado_res"  disabled selected>UF</option>

                                </select>

                                <select name="pais_res" id="pais" class="paises" required maxlength="45">
                                    <option id="AAA" value="00" disabled selected>PAÍS*</option>

                                </select>   

                            </fieldset>
                        </div>
                        <div class="entrega">

                            <fieldset class="field-endereco-entrega">

                                <legend>Endereco de entrega</legend>


                                <input type="text" name="cep_ent" id="cep2" maxlength="09"
                                    placeholder="Busca pelo CEP*" required>
                                <input type="text" name="endereco_ent" id="endereco2"
                                    placeholder="endereço de entrega*" required readonly>


                                <input type="text" name="numero_ent" id="numero2" maxlength="06"
                                    placeholder="Número*" required>
                                <input type="text" name="complemento_ent" id="complemento1" maxlength="45"
                                    placeholder="Complemento">


                                <input type="text" name="bairro_ent" id="bairro2" maxlength="45"
                                    placeholder="Bairro da entrega*" required readonly>
                                <input type="text" name="referencia_ent" id="referencia1" maxlength="45"
                                    placeholder="Referência">


                                <input type="text" name="cidade_ent" id="cidade2" maxlength="45"
                                    placeholder="Cidade da entrega*" required readonly>


                                <select name="estado_ent" id="uf2" required readonly maxlength="45">
                                    <option name="estadoEntrega" id="estado2" value="" disabled selected>UF</option>

                                </select>

                                <select name="pais_ent" id="pais2" maxlength="45" class="paises" required>
                                    <option value="" disabled selected>PAÍS*</option>

                                </select>

                            </fieldset>
                        </div>

                    </div>

                    <div class="meet-options-container">

                        <label for="meet" class="option-label">Como conheceu a DomGames?

                            <select name="Conheceu" id="meet">
                                <option value="Google" selected>Google</option>
                                <option value="face">Facebook</option>
                                <option value="Insta">Instagram</option>
                                <option value="others">Outros</option>
                            </select>
                        </label>
                        <div class="confirmar">
                            <label for="Confirmar">
                                <span>Li e estou de acordo com os <a id="a-invi">
                                        termos de uso*</a></span>
                                <span class="invi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                                    veniam maxime rem sequi quos? Illo aspernatur perspiciatis voluptates possimus,
                                    commodi quam. Beatae animi deleniti magni porro cumque ipsam debitis
                                    quod?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                                    veniam maxime rem sequi quos? Illo aspernatur perspiciatis voluptates possimus,
                                    commodi quam. Beatae animi deleniti magni porro cumque ipsam debitis
                                    quod?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                                    veniam maxime rem sequi quos? Illo aspernatur perspiciatis voluptates possimus,
                                    com?</span>
                                <span> ao confirmar</span>
                                </span>

                            </label>
                            <input type="checkbox" value="Confirmar" class="confirmar-button" id="licenca" required>

                        </div>

                        <button id="confirmar">Confirmar</button>
                    </div>

                </div>

            </form>

            <!-- </div> -->




        </main>


    </body>

</html>