<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DomGames</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet'  href='../stylesheets/carrinhoDeCompras.css'>

    <link rel="shortcut icon" href="../images/comuns/android-chrome-192x192.png" type="image/x-icon" />

    
</head>
<body>

    <header>
        <nav>
            <ul class="ul-1">
                <a href="http://localhost:3000/" target="" class=" li1 logo-img"><img src="../images/comuns/LOGO.png"
                        alt="Logo da da DomGames"></a>
                <li><a href="#" target="_blank" class="li1 a1">Loja</a></li>
                <li><a href="#" target="_blank" class="li1 a2">Suporte</a></li>
                <li><a href="#" target="_blank" class="li1 a3">Sobre</a></li>
                <li><a href="http://localhost:3000/usuarios/login" target="" class="li1 a4">Login | Cadastro</a></li>
                <form action="#" method="GET" class="form-ul-1">
                    <input type="text" name="search" id="search" placeholder="Pesquisa" class=" li1 pesquisa-input">
                </form>
            </ul>
            <ul class="ul-2">
                <li><a href="#" target="_blank" class="li1 a5">Gift Cards</a></li>
                <li><a href="#" target="_blank" class="li1 a6">Jogos</a></li>
                <li><a href="#" target="_blank" class="li1 a7">Consoles</a></li>
                <li><a href="#" target="_blank" class="li1 a8">Acessórios</a></li>
                <li><a href="http://localhost:3000/carrinho" target="" class="carrinho"><img src="../images/index/carrinho.png" alt=""></a></li>
            </ul>
        </nav>
        
    </header>

    <main>
        <div class="container-1">
            <h2>Enviar para:</h2>
            <div class="endereco">
                <p>Rua Elvira Cirnes Brochado, 153</p>
                <span>São Paulo, SP</span><br><span>Gabriel Eugenio Costa Nascimento</span>

            </div>

            <h2>Produtos:</h2>

            <div class="produtos">
                <div class="produto1">
                    <img src="../images/index/bully.png" alt="">
                    <p>JOGO BULLY - XBOX ONE</p>
                    <span>R$25,00</span>
                </div>
                <div class="produto2">
                    <img src="../images/index/wwe.png" alt="">
                    <p>JOGO BULLY - XBOX ONE</p>
                    <span>R$25,00</span>
                </div>
                <div class="produto3">
                    <img src="../images/index/residentevil5.png" alt="">
                    <p>JOGO BULLY - XBOX ONE</p>
                    <span>R$25,00</span>
                </div>
                <div class="produto4">
                    <img src="../images/index/nba.png" alt="">
                    <p>JOGO BULLY - XBOX ONE</p>
                    <span>R$25,00</span>
                </div>
                <div class="totalfrete">
                    <p>TOTAL DO FRETE R$30,00</p>
                </div>
            </div>
            <div class="botao1"><button>COMPRAR</button></div>
        </div>

        <div class="container-2">
            <div class="resumo">
                <h3>Resumo da compra</h3>
                <div class="valores">
                    <p>Produtos</p>
                    <span>R$100,00</span>
                </div>
                <div class="frete">
                    <p>Frete</p>
                    <span>R$30,00</span>
                </div>
                <div class="total">
                    <p>Total</p>
                    <span>R$130,00</span>
                </div>
                <div class="tipodepagamento">
                    <select name="select">
                        <option value="valor1">Boleto</option>
                        <option value="valor2">Cartão Primário</option>
                        <option value="valor3">Cartão Secundário</option>
                    </select>
                </div>
            </div>
            
        </div>

    </main>

    <footer>

        <div class="email-footer">
    
    
            <div class="email2">
                <div class="logo-email">
                    <a href="http://localhost:3000/" target=""><img src="../images/comuns/LOGO.png"
                            alt="Logo da da DomGames" class=" img-home-email"></a>
                </div>
                <form action="" method="GET">
                    <p>receba nossas news e promoções</p>
                    <input type="text" placeholder="Digite seu e-mail">
                    <button class="news-email"><img src="../images/pesquisa/aviaozinho_email.png" alt="" class="aviaozinho"></button>
                </form>
            </div>
        </div>
        <div class="email-footer2">
            <a href=""><p>CONTATOS DA LOJA</p></a>
            <a href=""><p>ENDEREÇO</p></a>
            <a href=""><p>TRABALHE CONOSCO</p></a>
            <a href=""><p>CNPJ: 00000000000</p></a>
        </div>
        <p class="p-Footer"> <span class="domP">DOM</span><span class="gamesP">GAMES</span> - Todos os direitos reservados.</p>
    </footer>

    
</body>
</html>

