<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DomGames</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../stylesheets/carrinhoDeCompras.css'>
    <script src='main.js'></script>
</head>
<body>

    <header>
        <div class="logo">
            <a href="" target="_blank"><img src="../images/comuns/LOGO.png" alt="logo"></a>
        </div>
        <ul>
            <li>LOJA</li>
            <li>SUPORTE</li>
            <li>LOGIN/CADASTRO</li>
        </ul>
            <form action="#" method="post">
                <input type="text" name="search" id="search" placeholder="    BUSCAR" required>
            </form>
    </header>

    <div class="sub-header">
        <ul>
            <li>GIFTS CARDS</li>
            <li>JOGOS</li>
            <li>CONSOLES</li>
            <li>ACESSÓRIOS</li>
        </ul>
    </div>

    <main>
        <div class="container-1">
            <h2>Enviar para:</h2>
            <div class="endereco">
                <p>Rua Elvira Cirnes Brochado, 153</p>
                <span>São Paulo, SP</span><br><span>Gabriel Eugenio Costa Nascimento</span>

            </div>

            <h2>Produtos:</h2>

            <div class="produtos">
                <div class="produto1">
                    <img src="../images/index/bully.png" alt="">
                    <p>JOGO BULLY - XBOX ONE</p>
                    <span>R$25,00</span>
                </div>
                <div class="produto2">
                    <img src="../images/index/wwe.png" alt="">
                    <p>JOGO BULLY - XBOX ONE</p>
                    <span>R$25,00</span>
                </div>
                <div class="produto3">
                    <img src="../images/index/residentevil5.png" alt="">
                    <p>JOGO BULLY - XBOX ONE</p>
                    <span>R$25,00</span>
                </div>
                <div class="produto4">
                    <img src="../images/index/nba.png" alt="">
                    <p>JOGO BULLY - XBOX ONE</p>
                    <span>R$25,00</span>
                </div>
                <div class="totalfrete">
                    <p>TOTAL DO FRETE R$30,00</p>
                </div>
            </div>
            <div class="botao1"><button>COMPRAR</button></div>
        </div>

        <div class="container-2">
            <div class="resumo">
                <h3>Resumo da compra</h3>
                <div class="valores">
                    <p>Produtos</p>
                    <span>R$100,00</span>
                </div>
                <div class="frete">
                    <p>Frete</p>
                    <span>R$30,00</span>
                </div>
                <div class="total">
                    <p>Total</p>
                    <span>R$130,00</span>
                </div>
                <div class="tipodepagamento">
                    <select name="select">
                        <option value="valor1">Boleto</option>
                        <option value="valor2">Cartão Primário</option>
                        <option value="valor3">Cartão Secundário</option>
                    </select>
                </div>
            </div>
            
        </div>

    </main>

    <footer class="caixa1">
        <div class="container1">
            <div class="logo1"> 
                 <h1> <img src="../images/comuns/LOGO.png" alt=" "> </h1>
            </div>
            <div class="news">
                <p> Receba news e <br> promoçoes</p> 
                <div class="email">    
                    <form action="email">
                        <label for="email"> </label>
                        <input type="email" id="email" name="email" placeholder="e-mail" > 
                        <button class="botao"> enviar </button>
                    </form>
                    
                </div>     
                
            </div>
        </div>
        <div class="info">
            <ul class="titulo"> 
                <li> CONTATOS DA LOJA </li>
                <li> ENDEREÇO </li>
                <li> TRABALHE CONOSCO </li>
                <li> CNPJ-19.702/9999-98 </li>
            </ul>
        </div>
        <div class="rodape">
            <p class="cor1">DOM</p>
            <P>GAMES - Todos os direitos reservados. </P>
        </div>
</footer>

    
</body>
</html>