<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Histórico de Compras</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href='../stylesheets/historico.css'>

    <link rel="shortcut icon" href="../images/comuns/android-chrome-192x192.png" type="image/x-icon" />

</head>

<body>

    <header>
        <div class="logo"><img src="../images/historico/LOGO.png" alt="logo"></div>
        <ul>
            <li>LOJA</li>
            <li>SUPORTE</li>
            <li>LOGIN/CADASTRO</li>
        </ul>
        <form action="#" method="post">
            <input type="text" name="search" id="search" placeholder="    BUSCAR" required>
        </form>
    </header>

    <div class="sub-header">
        <ul>
            <li>GIFTS CARDS</li>
            <li>JOGOS</li>
            <li>CONSOLES</li>
            <li>ACESSÓRIOS</li>
        </ul>
    </div>

    <div class="coluna-historico">
        <div class="figura-login">
            <img src="../images/historico/img-logo.png" alt="">
            <h1 class="titulo-figura"> Ricardo Amorim </h1>
        </div>
        <ul>
            <li class="cadastro"> <img src="../images/historico/img-cadastro.png"> Cadastro </li>
            <li class="compras"> <img src="../images/historico/img-compras.png"> Compras </li>
            <li class="vendas"> <img src="../images/historico/img-vendas.png"> Vendas </li>
            <li class="trocas"> <img src="../images/historico/img-trocas.png"> Trocas </li>
            <li class="gifts"> <img src="../images/historico/img-gift.png"> Gift Cards </li>
            <li class="atendimento"> <img src="../images/historico/img-atendimento.png"> Atendimento </li>
            <li class="alertas"> <img src="../images/historico/img-alertas.png"> Alertas </li>
            <li class="garantia"> <img src="../images/historico/img-garantia.png"> Garantia </li>
        </ul>

    </div>


    <main>
        <div class="compra">
            <h2> Historico de compras </h2>
            <form action="pesquisa" method="post">
                <input type="text1" name="search" id="search" placeholder=" BUSCAR" required>
            </form>

            <div class="itens-compras">
                <div class="imagem-produto-1"> <img src="../images/historico/nba.png" alt=""></div>
                <div class="descricao-1">
                    <p> Entregue em 24/07/22 </p>
                </div>
                <div class="borda"> <br>
                    <p class="titulo"> NBA 2K22</p>
                    <p class="status-venda"> Vendido por DOMGAMES </p>
                    <p class="quantidade"> 1 Unid </p>
                    <div class="detalhes"> Ver detalhes </div>
                    <div class="nova-compra"> Comprar novamente </div>
                </div>

            </div>

            <div class="itens-compras">
                <div class="imagem-produto-1"> <img src="../images/historico/farcry.png" alt=""></div>
                <div class="descricao-1">
                    <p> Entregue em 24/07/22 </p>
                </div>
                <div class="borda"> <br>
                    <p class="titulo"> NBA 2K22</p>
                    <p class="status-venda"> Vendido por DOMGAMES </p>
                    <p class="quantidade"> 1 Unid </p>
                    <div class="detalhes"> Ver detalhes </div>
                    <div class="nova-compra"> Comprar novamente </div>
                </div>

            </div>

            <div class="itens-compras">
                <div class="imagem-produto-1"> <img src="../images/historico/nba.png" alt=""></div>
                <div class="descricao-1">
                    <p> Entregue em 24/07/22 </p>
                </div>
                <div class="borda"> <br>
                    <p class="titulo"> NBA 2K22</p>
                    <p class="status-venda"> Vendido por DOMGAMES </p>
                    <p class="quantidade"> 1 Unid </p>
                    <div class="detalhes"> Ver detalhes </div>
                    <div class="nova-compra"> Comprar novamente </div>
                </div>

            </div>

            <div class="itens-compras">
                <div class="imagem-produto-1"> <img src="../images/historico/bully.png" alt=""></div>
                <div class="descricao-1">
                    <p> Entregue em 24/07/22 </p>
                </div>
                <div class="borda"> <br>
                    <p class="titulo"> NBA 2K22</p>
                    <p class="status-venda"> Vendido por DOMGAMES </p>
                    <p class="quantidade"> 1 Unid </p>
                    <div class="detalhes"> Ver detalhes </div>
                    <div class="nova-compra"> Comprar novamente </div>
                </div>

            </div>

            <div class="carregar">
                <p> Carregar </p>
            </div>

        </div>

    </main>

    <%- include('./partials/footer'); %>

</body>

</html>