<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DomGames</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="images/comuns/android-chrome-192x192.png" type="image/x-icon" />
    <link rel="stylesheet" href='../../public/assets/stylesheets/infoUsuario.css'>
</head>

<body>
    
    <header>
        <div class="logo">
            <a href="" target="_blank"><img src="../../public/assets/images/comuns/LOGO.png" alt="logo"></a>
        </div>
        <ul>
            <li>LOJA</li>
            <li>SUPORTE</li>
            <li>LOGIN/CADASTRO</li>
        </ul>
            <form action="#" method="post">
                <input type="text" name="search" id="search" placeholder="    BUSCAR" required>
            </form>
    </header>

    <div class="sub-header">
        <ul>
            <li>GIFTS CARDS</li>
            <li>JOGOS</li>
            <li>CONSOLES</li>
            <li>ACESSÓRIOS</li>
        </ul>
    </div>
    
    <main>
        <div class="container-1">
            <img src="../../public/assets/images/cadastroLogin/imagemdousuario.png" alt="imagem de cadastro">
            <h2>JOÃO SANTOS</h2>
            <div class="botoes-1">
                <button>Cadastro</button>
                <button>Compras</button>
                <button>Vendas</butto>
                <button>Troca</butto>
                <button>Gift Cards</butto>
                <button>Atendimento</butto>
                <button>Alertas</butto>
                <button>Garantia</butto>   
            </div> 
        </div>
        
        <div class="container-2">
            <h1>Minha Conta</h1>
            <h2>Dados do Usuário</h2>
            <div class="dadosdousuario">
                <form action="">
                    <label for="login">Login:</label>
                    <input type="text"><br>
                    <label for="email">Email:</label>
                    <input type="text">
                </form>
            </div>
            <h2>Dados Pessoais</h2>
            <div class="dadospessoais">
                <form action="">
                    <label for="nomecompleto">Nome Completo:</label>
                    <input type="text"><br>
                    <label for="nomesocial">Nome Social:</label>
                    <input type="text"><br>
                    <label for="cpf">CPF:</label>
                    <input type="text"><br>
                    <label for="nacionalidade">Nacionalidade:</label>
                    <input type="text"><br>
                    <label for="tele-celular">Telefone/Celular:</label>
                    <input type="text">
                </form>
            </div>
            <h2>Cartões</h2>
            <div class="cartoes">
                <form action="">
                    <h3>Principal</h3><br>
                    <label for="bandeira">Bandeira:</label>
                    <input type="text"><br>
                    <label for="digitos">Ultimos 4 digitos:</label>
                    <input type="text"><br>
                    <h3>Secundário</h3><br>
                    <label for="bandeira">Bandeira:</label>
                    <input type="text"><br>
                    <label for="digitos">Ultimos 4 digitos:</label>
                    <input type="text"><br>
                </form>
            </div>
            <h2>Endereços</h2>
            <div class="enderecos">
                <form action="">
                    <h3>Primário</h3><br>
                    <label for="rua">Rua:</label>
                    <input type="text"><br>
                    <label for="cep">CEP:</label>
                    <input type="text"><br>
                    <label for="cidade">Cidade:</label>
                    <input type="text"><br>
                    <h3>Secundário</h3><br>
                    <label for="rua">Rua:</label>
                    <input type="text"><br>
                    <label for="cep">CEP:</label>
                    <input type="text"><br>
                    <label for="cidade">Cidade:</label>
                    <input type="text"><br>
                </form>
            </div>
        </div>

    </main>

        <footer class="caixa1">
            <div class="container1">
                <div class="logo1"> 
                     <h1> <img src="../../public/assets/images/comuns/LOGO.png" alt=" "> </h1>
                </div>
                <div class="news">
                    <p> Receba news e <br> promoçoes</p> 
                    <div class="email">    
                        <form action="email">
                            <label for="email"> </label>
                            <input type="email" id="email" name="email" placeholder="e-mail" > 
                            <button class="botao"> enviar </button>
                        </form>
                        
                    </div>     
                    
                </div>
            </div>
            <div class="info">
                <ul class="titulo"> 
                    <li> CONTATOS DA LOJA </li>
                    <li> ENDEREÇO </li>
                    <li> TRABALHE CONOSCO </li>
                    <li> CNPJ-19.702/9999-98 </li>
                </ul>
            </div>
            <div class="rodape">
                <p class="cor1">DOM</p>
                <P>GAMES - Todos os direitos reservados. </P>
            </div>
    </footer>
    </body>
</html>