<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='stylesheets/pesquisa.css'>
    <!-- //favicon -->
    <link rel="shortcut icon" href="images/comuns/android-chrome-192x192.png" type="image/x-icon" />



    <title>Pesquisa</title>

</head>

<body>


    <header>
        <nav>
            <ul class="ul-1">
                <a href="http://localhost:3000/" target="" class=" li1 logo-img"><img src="images/comuns/LOGO.png"
                        alt="Logo da da DomGames"></a>
                <li><a href="#" target="_blank" class="li1 a1">Loja</a></li>
                <li><a href="#" target="_blank" class="li1 a2">Suporte</a></li>
                <li><a href="#" target="_blank" class="li1 a3">Sobre</a></li>
                <li><a href="http://localhost:3000/cadastrologin" target="" class="li1 a4">Login | Cadastro</a></li>
                <form action="#" method="GET" class="form-ul-1">
                    <input type="text" name="search" id="search" placeholder="Pesquisa" class=" li1 pesquisa-input">
                </form>
            </ul>
            <ul class="ul-2">
                <li><a href="#" target="_blank" class="li1 a5">Gift Cards</a></li>
                <li><a href="#" target="_blank" class="li1 a6">Jogos</a></li>
                <li><a href="#" target="_blank" class="li1 a7">Consoles</a></li>
                <li><a href="#" target="_blank" class="li1 a8">Acessórios</a></li>
            </ul>
        </nav>
    </header>
    <main>


        <div class="promocao-container">

            <div class="promo-img ">
                <a href="#" target="" class="btn-saiba_mais"><img src="images/pesquisa/novo_atari_console.png"
                        alt="Promoção" class="imgpromo"></a>
            </div>
            <div class="promo-h1">
                <h1><span>Promoções</span>
                    <span> Do Mês </span>
                </h1>
                <a href="#" target="" class="btn-saiba_mais"><Button>Saiba Mais</Button></a>
            </div>

        </div>

        <div class="pesquisa-container">
            <ul class="link-mid-container">
                <li class="link-mid mid1"><a href="#">GIFT CARDS</a></li>
                <li class="link-mid mid2"><a href="#">CONSOLES</a></li>
                <li class="link-mid mid3"><a href="#"> JOGOS</a></li>
                <li class="link-mid mid4"><a href="#"> ACESSÓRIOS</a></li>
            </ul>

        </div>
    </main>

    <footer>

    </footer>



</body>

</html>