<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DomGames</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='public\assets\stylesheets\produtoInterno2.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <div class="logo"><img src="public\assets\images\produtoInterno\LOGO.png" alt="logo"></div>
        <ul>
            <li>LOJA</li>
            <li>SUPORTE</li>
            <li>LOGIN/CADASTRO</li>
        </ul>
            <form action="#" method="post">
                <input type="text" name="search" id="search" placeholder="    BUSCAR" required>
            </form>
    </header>

    <div class="sub-header">
        <ul>
            <li>GIFTS CARDS</li>
            <li>JOGOS</li>
            <li>CONSOLES</li>
            <li>ACESSÓRIOS</li>
        </ul>
    </div>

    <!-- //Header e sub-header -->

    <h1>FAR CRY 6</h1>
    
    <div class="comprarojogo">
        <div class="jogocomprar">
            <img src="public\assets\images\produtoInterno\farcry.png">
        </div>
        <div class="infocomprar">
            <p>R$100,00</p>
            <button>COMPRAR</button>
        </div>
    </div>

    <div class="numero-site">
        <div class="giftcards">
            <h3>+ DE 500<br>GIFTS CARDS VENDIDOS</h3>
        </div>
        <div class="jogosvendidos">
            <h3>+ DE 1.000.00 <br>JOGOS VENDIDOS</h3>
        </div>
        <div class="acessorios">
            <h3>+ DE 300<br>ACESSÓRIOS PERSONALIZADOS</h3>
        </div>
    </div>
        <h2>DESCRIÇÃO DO PRODUTO</h2>
    <div class="descricaoProduto">
       <ul>
           <li>Antón castillo, o ditador de yara, pretende resgatar a glória do seu país a qualquer custo, junto com seu filho, diego, que é tão sanguinário quanto o pai</li>
            <li>Jogue na pele de dani rojas, junte-se ao grupo revolucionário libertad e lute para chegar até esperanza e derrubar antón castillo e seu regime opressor</li>
           <li> "Inflame a luta pela liberdade junte-se à revolução e enfrente o regime opressor do ditador antón
            Castillo e seu filho adolescente diego, interpretados por giancarlo esposito (the mandalorian,breaking bad) eanthony gonzalez (coco)</li>
           <li> Mergulhe em uma experiência cinematográfica como dani rojas, habitante de yara que defende seu país contra um governo tirano
            Escolha jogar como dani homem ou mulher e mergulhe na jornada de alguém que saiu do exército para entrarna guerrilha revolucionária</li> 
        </ul>
    </div>
    <div class="video">
        <iframe width="1060" height="315" src="https://www.youtube.com/embed/yzCZyJSGub4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="ProdutosRelacionados">
                    <ul class="JogosRelacionados">
                <li><img src="public\assets\images\produtoInterno\bully.png"></li>
                <li><img src="public\assets\images\produtoInterno\farcry4.png"></li>
                <li><img src="public\assets\images\produtoInterno\need.png"></li>
                <li><img src="public\assets\images\produtoInterno\resident5.png"></li>
            </ul>
        </div>
        <!-- footer -->
        <footer class="caixa1">
    
            <div class="container1">
                <div class="logo1"> 
                     <h1> <img src="public\assets\images\produtoInterno\LOGO.png" alt=" "> </h1>
                </div>
    
                <div class="news">
                    <p> Receba news e <br> promoçoes</p> 
    
                    <div class="email">    
                        <form action="email">
                            <label for="email"> </label>
                            <input type="email" id="email" name="email" placeholder="e-mail" > 
                            <button class="botao">Enviar</button>
                        </form>
                        
                    </div>     
                    
                </div>
            </div>
    
            <div class="info">
                <ul class="titulo"> 
                    <li> CONTATOS DA LOJA </li>
                    <li> ENDEREÇO </li>
                    <li> TRABALHE CONOSCO </li>
                    <li> CNPJ-19.702/9999-98 </li>
                </ul>
    
            </div>
    
            <div class="rodape">
                <p class="cor1">DOM</p>
                <P>GAMES - Todos os direitos reservados. </P>
            </div>
            
        </footer>
        
    </main>
</body>
</html>