
<link rel="stylesheet" href='../stylesheets/footer.css'>
<footer>

    <div class="email-footer">


        <div class="email2">
            <div class="logo-email">
                <a href="http://localhost:3000/" target=""><img src="../images/comuns/LOGO.png"
                        alt="Logo da da DomGames" class=" img-home-email"></a>
            </div>
            <form action="" method="GET">
                <p>receba nossas news e 
                    promoções</p>
                <input type="text" placeholder="Digite seu e-mail">
                <button class="news-email"><img src="../images/pesquisa/aviaozinho_email.png" alt="" class="aviaozinho"></button>
            </form>
        </div>
    </div>
    <div class="email-footer2">
        <a href=""><p>CONTATOS DA LOJA</p></a>
        <a href=""><p>ENDEREÇO</p></a>
        <a href=""><p>TRABALHE CONOSCO</p></a>
        <a href=""><p>CNPJ: 00000000000</p></a>
    </div>
    <p class="p-Footer"> <span class="domP">DOM</span><span class="gamesP">GAMES</span> - Todos os direitos reservados.</p>
</footer>