<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../stylesheets/header.css'>
    <!-- //favicon -->
    <link rel="shortcut icon" href="../images/comuns/android-chrome-192x192.png" type="image/x-icon" />    

</head>

<body>


    <header>
        <nav>
            <ul class="ul-1">
                <a href="http://localhost:3000/" target="" class=" li1 logo-img"><img src="../images/comuns/LOGO.png"
                        alt="Logo da da DomGames"></a>
                <li><a href="http://localhost:3000/produtos/pesquisa#" target="" class="li1 a1">Loja</a></li>
                <li><a href="" target="_blank" class="li1 a2">Suporte</a></li>
                <li><a href="#" target="_blank" class="li1 a3">Sobre</a></li>
                <li><a href="http://localhost:3000/usuarios/login" target="" class="li1 a4">Login | Cadastro</a></li>
                <form action="#" method="GET" class="form-ul-1">
                    <input type="text" name="search" id="search" placeholder="Pesquisa" class=" li1 pesquisa-input">
                </form>
            </ul>
            <ul class="ul-2">
                <li><a href="http://localhost:3000/produtos/pesquisa#" target="" class="li1 a5">Gift Cards</a></li>
                <li><a href="http://localhost:3000/produtos/pesquisa#" target="" class="li1 a6">Jogos</a></li>
                <li><a href="http://localhost:3000/produtos/pesquisa#" target="" class="li1 a7">Consoles</a></li>
                <li><a href="http://localhost:3000/produtos/pesquisa#" target="" class="li1 a8">Acessórios</a></li>
                <li><a href="http://localhost:3000/carrinho" target="" class="carrinho"><img src="../images/index/carrinho.png" alt=""></a></li>
                
            </ul>
        </nav>
    </header>